/* Main webpage styles */

:root {
	--header-top-height: 64px;
	--header-top-bg-color: var(--green3);
	--header-logo-text-color: var(--white2);
	--header-logo-font-size: 120%;
	--header-bottom-height: 64px;
	--header-bottom-bg-color: var(--green1);
	--header-bottom-font-size: 125%;
	--search-bar-height: 75%;
	--search-bar-font-size: min(120%, 4vw);
	--search-bar-border-color: var(--green1);
	--search-bar-border-color-focus: var(--green2);
	--search-bar-button-bg-color: var(--green4);
	--search-bar-button-bg-color-hover: var(--green5);
	--footer-bg-color: var(--green1);
	--footer-copyright-font-size: 140%;
	--footer-copyright-text-color: var(--white2);
	--footer-attributions-font-size: 90%;
	--footer-attributions-text-color: var(--white1);
}

* {
	box-sizing: border-box;
}

img {
	height: 100%;
}

body {
	/* We make the entire HTML body element a column-oriented flexbox with a min height matching that of the viewport.
	This allows us to set the main content child element to grow automatically and push the footer down
	to the bottom of the viewport if required. */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	height: var(--header-top-height);
	padding: 6px;
	background-color: var(--header-top-bg-color);
}

.header-logo {
	display: flex;
	gap: 6px;
	height: 100%;
	user-select: none;
	align-items: center;
	color: var(--header-logo-text-color);
	font-weight: bold;
	font-size: var(--header-logo-font-size);
}

@media only screen and (max-width: 639px) {
	.header-logo>.header-logo-text {
		display: none;
	}
}

.search-bar {
	display: flex;
	flex-grow: 0.5;
	height: var(--search-bar-height);
}

.search-bar>input {
	width: 100%;
	height: 100%;
	padding-left: 10px;
	border: 3px solid var(--search-bar-border-color);
	border-right: none;
	border-radius: 16px 0 0 16px;
	font-size: var(--search-bar-font-size);
}

.search-bar>input:focus {
	border-color: var(--search-bar-border-color-focus);
	outline: none;
}

.search-bar>button {
	width: 40px;
	height: 100%;
	padding: 4px 6px 4px 4px;
	border: 3px solid var(--search-bar-border-color);
	border-radius: 0 16px 16px 0;
	background-color: var(--search-bar-button-bg-color);
}

.search-bar>button:hover:not(:active) {
	background-color: var(--search-bar-button-bg-color-hover);
}

.header-icons {
	display: flex;
	gap: 8px;
	height: 70%;
	user-select: none;
}

.header-icons>button {
	background: none;
	border: none;
}

.header-icons>button:hover:not(:active) {
	scale: 110%;
	filter: drop-shadow(2px 2px 4px #0008);
}

.header-bottom {
	/* Make the header navbar a positioned element for the absolute positioning of the hamburger button below */
	position: relative;
	height: var(--header-bottom-height);
	background-color: var(--header-bottom-bg-color);
	font-size: var(--header-bottom-font-size);
	user-select: none;
	color: var(--white3);
}

.header-bottom>ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 8px;
	height: 100%;
	padding: 6px;
	margin: 0;
	list-style: none;
	background-color: inherit;
}

@media only screen and (max-width: 479px) {
	.header-bottom {
		height: 40px;
	}

	.header-bottom>ul {
		height: fit-content;
		flex-direction: column;
	}

	.header-bottom>ul.mobile-closed {
		display: none;
	}
}

.header-bottom>ul>li:hover:not(:active) {
	scale: 110%;
	filter: drop-shadow(2px 2px 4px #0008);
}

.hamburger-button {
	/* Hamburger button positioned absolutely to the top right within the header navbar */
	position: absolute;
	top: 4px;
	right: 0;
	width: 40px;
	height: 32px;
	border: none;
	background-color: inherit;
}

@media only screen and (min-width: 480px) {
	.hamburger-button {
		display: none;
	}
}

main {
	margin: 8px;
	/* Set the main content element to grow vertically as needed to push the footer to the bottom */
	flex-grow: 1;
}

footer {
	display: flex;
	align-items: center;
	min-height: 64px;
	padding: 0.5em;
	background-color: var(--footer-bg-color);
	user-select: none;
}

.copyright {
	font-size: var(--footer-copyright-font-size);
	color: var(--footer-copyright-text-color);
	margin-bottom: 0.5em;
}

.attributions {
	font-size: var(--footer-attributions-font-size);
	color: var(--footer-attributions-text-color);
	list-style: none;
	margin: 0;
	padding: 0;
}

.attributions a {
	color: inherit;
}